---
export interface Props {
  title: string;
  publishDate?: string;
  homeUrl?: string;
  backgroundImageUrl?: string;
}

const {title, publishDate, homeUrl, backgroundImageUrl = ''} = Astro.props;
---

<header class="heroHeader waveAnimation7sOnce px-4 mx-auto text-gray-300 bg-blue-800">
    <div
      class="absolute -z-0 bg-no-repeat bg-cover top-0 left-0 w-full h-full opacity-10"
      style={`background-image: url("${backgroundImageUrl}")`}
    >
    </div>
    <a href={homeUrl} class="flex items-center justify-center mb-6 text-xs font-semibold uppercase pt-11 underline z-20 relative">
        <span class="pr-2">
            <svg class="h-3 w-3" viewBox="0 0 8 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path transform="rotate(180 3.9375 6)"
                      d="M1.875 0L0 1.875L4.125 6L0 10.125L1.875 12L7.875 6L1.875 0Z"></path>
            </svg>
        </span>
        <span>
            Iaax Page
        </span>
    </a>

    <div class="heroTitle">
        <h1 class="articleTitle text-4xl">{title}</h1>
        <div class="heroArticleDatePulishedAt text-sm pt-7">{publishDate}</div>
    </div>
</header>
