
/**
***  mb-6 text-5xl text-blue-800 font-bold font-heading
*/
h2, h3{
	color: rgb(30 64 175);
	font-weight: 600;
	font-size: 2rem;
  line-height: 3.2rem;
  margin-top: 1.6rem;
}

h3{
	font-size: 1.5rem;
}

p{
  font-size: 1.25rem;
  color: rgb(40,40,40);
  line-height: 2rem;
}

