---
import Footer from '../components/Footer.astro';
import ArticleCard from '../components/home-components/ArticleCard.astro';
import FeaturedArticle from '../components/home-components/FeaturedArticle.astro';
import SiteInfo from '../components/home-components/SiteInfo.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Iaax Page">

	<div class="wrapper">
		<section class="py-24">
			<SiteInfo 
			title="Iaax Page"
			description="Blog de Desarrollo Personal"
			quote="Escucha tu voz interior • Toma las mejores decisiones para ti • Se considerado con los demás"
			/>
			<FeaturedArticle
			title="Super awesome article"
			shortContent="This is the best article I ever written. And that's considering I am awesome."
			slug="#"
			/>
			<section class="py-24">
				<div class="container px-4 mx-auto">
					<div class="flex flex-wrap -mx-4 -mb-8 md:-mb-12">
						<ArticleCard
						title="Article 1"
						content="Some content"
						slug="#"
						date="12 Feb, 2023. 19:00"
						/>
					</div>
				</div>
			</section>
		</section>
	</div>
	<Footer />
</Layout>
